@import 'nib'

global-reset()

.body
  text-size-adjust 100%

.js-mobile .desktop-only
  display none

.js-desktop .mobile-only
  display none

.move-ack
  width 200px
  height 400px
  transition opacity 1s ease-in-out
  opacity 0
  &.js-flash
    opacity 1
  &.js-left
  &.js-right
  &.js-up
    background url('/images/kick-sprite.png')
  &.js-left
    background-position 200px 0
    transform scaleX(-1)
  &.js-right
    background-position 200px 0
