@import 'config'

#scoreboard
  position fixed
  top 0
  left 0
  .score
    text-align right
    margin-top 5px
    padding-right 5px
    border-radius right 5px
    box-shadow 0 1px 3px rgba(0, 0, 0, .75)
    background #fff
    &.js-ease
      transition-property color transform
      transition-duration .5s
      transition-timing-function ease-in-out
    &.js-changed
      transform scale(1.5)
      color #f80
    .avatar
      float left
      width 48px
      height 48px
      box-shadow 0 1px 3px rgba(0, 0, 0, .5)
    .kills
      display inline-block
      margin-left 5px
      font-size 40px
      line-height 48px
      text-align right
      vertical-align bottom
      line-height 48px
