<!DOCTYPE html>

<html>

  <head>
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1.0,user-scalable=no'
    >
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <title>Node Kick!</title>
    <link href='/index.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Piedra' rel='stylesheet' type='text/css'>
    <script src='/index.js'></script>
    <% if (o.req.user) { %>
    <script>window.app.currentUserId = <%= o.req.user.id %>;</script>
    <% } %>
  </head>

  <body>
    <div class='top-right-corner'>
      <% if (o.req.user) { %>
      <div class='user-info'>
        <a href='https://twitter.com/<%- o.req.user.get('username') %>'>
          <img src='<%- o.req.user.get('avatar') %>' class='avatar'>
        </a>
        <div class='username-and-sign-out'>
          <a
            href='https://twitter.com/<%- o.req.user.get('username') %>'
            class='username'
          >@<%- o.req.user.get('username') %></a>
          <a href='/auth/sign-out' class='sign-out'>Sign Out</a>
        </div>
      </div>
      <% } else { %>
      <div class='sign-in-with-twitter'>
        <a href='/auth/twitter'>
          <img src='/images/sign-in-with-twitter.png' class='twitter'>
        </a>
      </div>
      <% } %>
      <div class='nko-vote-container'>
        <iframe
          src='http://nodeknockout.com/iframe/team-us'
          allowtransparency
          class='nko-vote'
        ></iframe>
      </div>
    </div>
    <div id='scoreboard'></div>
    <div id="deathDiv" style="display: none;">
      <canvas id="deathCanvas" width="100" height="200" style="position: absolute; left: 0; border: solid 1px #FFF; background-color: red;"></canvas>
      <canvas id="anotherCanvas" width="100" height="200" style="position: absolute; left: 100px; border: solid 1px #F00; background-color: red;"></canvas>
    </div>
    <canvas id='stage' class='desktop-only' width='1280' height='700'></canvas>
    <ul class='alerts'></ul>
    <div class='mobile-only js-move-ack move-ack'></div>
    <div style="font-size: 20px; margin-top: 20px;">
      <a href="http://nodeknockout.com/teams/team-us" target="_blank">Node Kick!</a> is inspired by <a href="http://www.divekick.com/" target="_blank">Divekick</a>. We aren't affliated with Divekick, but love the game. Go buy it.
      <br/>
      <br/>
      <a href="https://twitter.com/search?q=%23NKO13&src=hash">#NKO13</a> Team Us (as in "us" not "them"):
      <a href="https://twitter.com/cliftonk">@clifftonk</a>
      <a href="https://twitter.com/mallioch">@Mallioch</a>
      <a href="https://twitter.com/amirrajan">@amirrajan</a>
      <a href="https://twitter.com/caseywebdev">@caseywebdev</a>
    </div>

    <div style="display: none;"> <!-- Scratch canvases -->
      <canvas id="dive-invert" width="600" height="400" style="border: solid 1px #000;" />
      <canvas id="donatello-invert" width="600" height="400" style="border: solid 1px #000;" />
      <canvas id="redacted-invert" width="600" height="400" style="border: solid 1px #000;" />
    </div>

  </body>
</html>
