<!DOCTYPE html>

<html>

  <head>
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1.0,user-scalable=no'
    >
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <title>NodeKick</title>
    <link href='/index.css' rel='stylesheet'>
    <script src='/index.js'></script>
  </head>

  <body>
    <div>
      <% if (o.req.user) { %>
        <img src="<%- o.req.user.get('avatar') %>">
        <%- o.req.user.get('username') %>
        <a href='/auth/sign-out'>Sign Out</a>
      <% } else { %>
        <a href="/auth/twitter">Sign in with Twitter</a>
      <% } %>
    </div>
    <canvas id='stage' class='desktop-only' width='1280' height='1000' style="border: solid 1px #000; background-image: url(images/background-final-destination.jpg);background-size: 100%;"></canvas>
    <div class='mobile-only js-move-ack move-ack'></div>

    <div style="display: none;"> <!-- Scratch canvases -->
      <canvas id="dive-invert" width="600" height="400" style="border: solid 1px #000;" />
    </div>

  </body>
</html>
