<!DOCTYPE html>

<html>

  <head>
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1.0,user-scalable=no'
    >
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <title>NodeKick</title>
    <link href='/index.css' rel='stylesheet'>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/index.js'></script>
  </head>

  <body>
    <% if (o.req.user) { %>
      Welcome back, <img src="<%= o.req.user.pic %>"> <%= o.req.user.sn %><br>
      <a href='/auth/sign-out'>Sign Out</a>
    <% } else { %>
      <a href="/auth/twitter">Sign in with Twitter</a>
    <% } %>
    <canvas id='stage' class='desktop-only' width='1000' height='800' style="border: solid 1px #000;"></canvas>
    <div class='mobile-only js-move-ack move-ack'></div>

    <div style=""> <!-- Scratch canvases -->
      <canvas id="dive-invert" width="600" height="400" style="border: solid 1px #000;" />
    </div>

  </body>
</html>
