<!DOCTYPE html>

<html>

  <head>
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1.0,user-scalable=no'
    >
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='csrf-token' content='<%- o.req.csrfToken() %>'>
    <% if (o.req.user) { %>
    <meta name='current-user-id' content='<%= o.req.user.id %>'>
    <% } %>
    <title>Nodekick</title>
    <link href='/index.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Piedra' rel='stylesheet' type='text/css'>
    <script src='/index.js'></script>
  </head>

  <body>
    <div class='session-info'>
      <% if (o.req.user) { %>
      <div class='user-info'>
        <a href='https://twitter.com/<%- o.req.user.get('username') %>'>
          <img src='<%- o.req.user.avatar() %>' class='avatar'>
        </a>
        <div class='username-and-sign-out'>
          <div class='username'><%- o.req.user.get('username') %></div>
          <div class='js-sign-out sign-out clickable'>Sign Out</div>
        </div>
      </div>
      <% } else { %>
      <div class='sign-in-with-twitter'>
        <a href='/auth/twitter'>
          <img src='/images/sign-in-with-twitter.png' class='twitter'>
        </a>
      </div>
      <% } %>
    </div>
    <div class='users-recent-list'></div>
    <div id='game'></div>
    <div class='mobile-only js-move-ack move-ack'></div>
  </body>
</html>
